.calculator{
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
    width:400px;
    border-radius: 25px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px;
   
}



.calculator-screen{
    width:100%;
    height:100px;
    background-color: #23ca47ef;
    color:rgb(194, 145, 41);
    text-align:right;
    font-size:36px;
    border:none;
    padding:0 20px;
    box-sizing:border-box;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}
.row{
    display: flex;
    
}
button{
    height:80px;
    background-color: rgb(67, 31, 167);
    border: 1px solid black;
    font-size:32px;
    color:#fff;
    width:25%;
    outline:none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.all-clear, .zero-btn ,.dates{
    width: 50%;
}

.operator, .equal-sign{
    background-color:rgb(156, 65, 93);
}
button:hover{
    color:lightsalmon;
    cursor: grab;
}
.operator:hover, .equal-sign:hover{
    color: blue;
}
.zero-btn{
    border-bottom-left-radius: 25px;
}
.equal-sign{
    border-bottom-right-radius: 25px;
}